[Unit]
After=network-online.target
Wants=network-online.target

[Service]
User=mark
Type=oneshot
ExecStart=/usr/bin/python3 /home/mark/Projects/tools/backup/backupcatch.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
