[Unit]
After=local-fs.target

[Service]
User=Mark
ExecStart=/usr/bin/python3 /home/Mark/Projects/tools/backup/backupmake.py
Restart=always
RestartSec=3600
